.scene-page--whatsapp {
  .app-content.convo {
    background: #d7ccc8;
  }

  .pp-holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wa-chat-card, .wa-contact-card {
    @include flex(row, space-around);
    color: black;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
    &:last-child {
      margin-bottom: 50px;
    }
    &::after {
      @extend %pseudo;
      background: rgba(0,0,0,0.08);
      position: absolute;
      bottom: 0; right: 5%;
      width: 80%;
      height: 1px;
    }
    .right-part {
      @include flex(column);
      width: 80%;
      .top { width: 100%; }
      .bottom { width: 80% }
      .top {
        @include flex(row, space-between);
        .contact-name {
          font-size: 12px;
          margin-left: 8px;
        }
        .message-time {
          font-size: 10px;
          margin-right: 8px;
        }
      }
      .bottom {
        margin: 0 8px;
        .message-text, .contact-status {
          height: 16px;
          font-size: 11px;
          text-overflow: ellipsis;
          margin: 8px 0;
          overflow: hidden;
        }
      }
    }
  }

  .wa-convo-row {
    width: 100%;
    padding: 1rem 0 0.2rem 0;
    &.me { @include flex(row, flex-end, center); }
    &.theirs { @include flex(row, flex-start, center); }
  }

  .convo-bubble {
    @include flex(row, flex-start, flex-end);
    background: white;
    color: black;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 1rem;
    .message {
      flex: 5;
      font-size: 13px;
      margin-right: 8px;
      word-break: break-all;
    }
    .time {
      flex: 1;
      font-size: 10px;
      color: #757575;
    }
    &.me {
      background: #C5E1A5;
    }
  }

  .texting-bar {
    @include flex(row, flex-start, center);
    background: #d7ccc8;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .texting-field {
    flex: 1;
    height: 25px;
    padding: 0 1rem;
    margin: 0 4px 0 1rem;
    border-radius: 20px;
  }

  .btn-voice {
    @include flex(row, center, center);
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 0 1rem 0 4px;
    cursor: pointer;
  }

}
