// ## Themings
.theme-whatsapp {
  background: #00897B;
  color: white;
}

.theme-music {
  // background: linear-gradient(#E65100, #FFA726);
  // color: white;
  background: #F5F5F5;
  color: #7E57C2;
}