@import "./utilities";
.round { border-radius: 50%; }
.text-bold { font-weight: bold; }
.text-center { text-align: center; }
.text-black { color: black !important; }

* { user-select: none; }

$body-gradient: linear-gradient(#AD1457 25%, #880E4F 70%);
body {
  @include flex(row, center, center);
  margin: 0;
  padding: 0;
  background: $body-gradient;
  height: 100vh;
  font-family: $font-fam;
  // overflow: hidden;
}

.frame {
  position: relative;
}

// ## Themes
@import "./themes";

// ## Phone and its components (HW)
@import "./components/phone";

// ## Status bar and Navigation Bar
@import "./components/status-bar";
@import "./components/navigation-bar";

// ## Scenes
@import "./components/scenes/main";

// ## Scene Pages
@import "./components/scenes/pages/index";

// ## Floating Button
@import "./components/floating-btn";

// ## App Bar
@import "./components/app-bar";
// ## App Content
@import "./components/app-content";

// ## Rotator
@import "./components/phone-rotator";

// ## Widgets
@import "./components/widgets/digi-clock";
@import "./components/widgets/google-now";
@import "./components//widgets/weather";

// ## Animations
@import "./animations";