$app-bar-h: 45px;
$app-bar-padding: $status-bar-h;
.app-bar {
  @include flex(row, flex-start, center);
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: $app-bar-h;
  padding: $app-bar-padding 0 0 0;
  z-index: 1;
  .btn-back {
    font-size: 13px;
    margin: 0 0.5rem 0 1rem;
    cursor: pointer;
  }
  .app-title {
    font-size: 15px;
    padding: 0 1rem;
  }
  .options {
    @include flex(row, flex-end, center);
    flex: 1;
    margin: 0 1rem;
    cursor: pointer;
    > div { margin-left: 1rem; }
  }
  
  .searchbar-layer {
    @include flex(row, center, center);
    position: absolute;
    width: 100%;
    height: $app-bar-h;
    input {
      flex: 1;
      margin: 0 1rem;
    }
  }
}
